    .footer-left {
      position: fixed;
      left: 40;
      bottom: 0;
      width: 90%;
      color: white;
      text-align: left;
    }
    .footer-right {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 99%;
      color: white;
      text-align: right;
    }